@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

html {
  font-family: "Noto Sans";
}

nav {
  text-transform: uppercase;
  margin: 30px;
  font-size: 10pt;
  float: right;
}

img {
  height: auto;
  width: 20%;
}

.icons {
  height: 30px;
  width: auto;
}

.img1 {
  height: auto;
  width: 25%;
}

/* ------------------------------------------------------------------------ */

footer {
  font-size: 10px;
  position: fixed;
  bottom: 0;
  padding: 5px 0 0 40%;
  color: #3f4244;
}

@media only screen and (max-width: 600px) {
  footer {
    font-size: 2px;
  }
}
@media only screen and (min-width: 1024px) {
  footer {
    font-size: 1rem;
  }
}
.nav-header {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 40px;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

.menu-toggle {
  display: inline-block;
  position: relative;
  z-index: 1;
  user-select: none;
}
.menu-toggle a {
  text-decoration: none;
  color: #195780;
}
.menu-toggle a:hover {
  font-weight: 600;
}

.menu-toggle .toggle {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.menu-toggle span {
  display: flex;
  flex-direction: column-reverse;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: left;
  background-color: #070303;
  border-radius: 3px;
  z-index: 1;
}

.menu-toggle .toggle:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

.menu-toggle .toggle:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0) scale(0.2, 0.2);
}

.menu-toggle .toggle:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu-toggle span {
  transform-origin: 4px 0px;
  transition: transform 0.5s ease-in;
  opacity: 0.5s ease;
}
.menu-toggle span:first-child {
  transform-origin: 0% 0%;
}
.menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.menu {
  position: absolute;
  margin: 0 0 0 -200px;
  padding: 20px 50px;
  text-align: end;
  /* background-color: #afcfe9; */
  opacity: 0.9;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(200%, 0);
  transition: transform 0.5s ease-in;
}
.menu li {
  padding: 10px 0 10px 35px;
  font-size: 20px;
}

.menu-toggle .toggle:checked ~ ul {
  transform: none;
}
