form {
  margin: 60px auto;
  width: 80%;
}

.form-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

label {
  display: flex;
  flex-basis: 150px;
  flex-wrap: wrap;
  align-content: flex-end;
  padding-right: 30px;
  font-size: 20px;
}

.form-item input,
.form-item textarea {
  width: 40vw;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 5px 30px;
  position: static;
  border: 1px solid #d7d4d4;
  /* background-color: #fff; */
  padding: 5px;
  font-size: 15px;
}

textarea {
  resize: none;
}

/* .form-item textarea{
  margin-left: 5px;
} */

.form-item button {
  position: static;
  border: 1px solid #d7d4d4;
  background-color: #fff;
  /* padding: 5px; */
  margin: 5px;
  font-size: 18px;
  width: 100px;
}

button {
  color: #2d2c2c;
}

.form-item button:hover {
  border: 2px solid #2d2c2c;
}

.allform {
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15vh;
}

#form{
  margin-top: 15vh;
}

h2 {
  padding-top: 5vh;
  padding-left: 20vh;
}

@media (max-width: 720px) {
  h2 {
    padding-top: 2vh;
    padding-left: 12vh;
    margin-bottom: 0px;
  }
  .allform {
    flex-direction: column;
    padding-top: 5vh;
    margin-bottom: 0vh;
  }
  .form-item {
    display: block;
    margin-left: 10px;
  }

  .form-item input,
  .form-item textarea {
    width: 65vw;
    margin-left: 0px;
  }

  label {
    flex-basis: 90px;
  }

  #form{
    margin-top: 0vh;
  }

  .form-item button {
    margin-left: 20vw;
}
