form {
  margin: 50px auto;
  width: 100%;
}

.form-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
}

label {
  display: flex;
  flex-basis: 100px;
  align-items: flex-end;
  margin-right: 30px;
  font-size: 20px;
}

.form-item input,
.form-item textarea {
  width: 40vw;
  display: flex;
  justify-content: flex-start;
  margin: 5px;
  position: static;
  border: 1px solid #d7d4d4;
  /* background-color: #fff; */
  padding: 5px;
  font-size: 15px;
}

.form-item input:hover,
.form-item textarea:hover {
  border: 2px solid #100e0e;
}

.form-item button {
  position: static;
  border: 1px solid #d7d4d4;
  background-color: #fff;
  padding: 5px;
  margin: 5px;
  font-size: 18px;
  width: 100px;
}

.form-item button:hover {
  border: 2px solid #2d2c2c;
}

.allform {
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 39vh;
}

h2 {
  padding-top: 5vh;
  padding-left: 20vh;
}

@media (max-width: 720px) {

    h2 {
        padding-top: 2vh;
        padding-left: 12vh;
        margin-bottom: 0px;
      }
  .allform {
    flex-direction: column;
    padding-top: 5vh;
    margin-bottom: 0vh;
  }
  .form-item{
    display:block;
    margin-left: 10px;
  }

  .form-item input,
.form-item textarea {
  width: 80vw;
}


