@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  box-sizing: border-box;
}

html {
  height: auto;
  font-family: "Noto Sans";
  line-height: 1.3;
  /* background: linear-gradient(
    180deg,
    rgba(48, 136, 255, 1) 0%,
    rgba(255, 115, 118, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat; */
  /* overflow: hidden; */
}

footer {
  font-size: 10px;
  padding: 5px;
  text-align: center;
  color: #060606;
}

p {
  width: 80%;
  text-align: justify;
  margin: 30px 10vw 20px 5vw;
}

nav {
  text-transform: uppercase;
  margin: 30px;
  font-size: 10pt;
  float: right;
}

.main {
  padding-left: 8vw;
}

.hero {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#img1 img {
  height: auto;
  width: 35vw;
  display: flex;
}

#img2 {
  padding-top: 10vh;
  display: flex;
  justify-content: center;
}

#img3 {
  padding-top: 10vh;
  display: flex;
  justify-content: center;
}

#projects {
  display: flex;
  justify-content: center;
}

.heading {
  width: 50%;
  padding: 30px;
  margin-top: 10vw;
  font-size: 20px;
}

.icons {
  margin: 8vh 0 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#icons-contact {
  margin: 80vh 0 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.linkedin {
  height: 40px;
  width: auto;
  padding-right: 10px;
}

.github {
  height: 40px;
  width: auto;
  padding-right: 10px;
}

/* @media (prefers-color-scheme: dark) {
  .linkedin {
    filter: invert(1);
  }
  .github {
    filter: invert(1);
  }
} */

@media (prefers-color-scheme: light) {
  .linkedin {
    filter: invert(0);
  }
  .github {
    filter: invert(0);
  }
}

@media (max-width: 600px) {
  .hero {
    flex-direction: column;
  }

  #img1 img {
    padding-top: 10vh;
    width: 80vw;
  }

  #img2 img {
    padding-top: 0vh;
    width: 80vw;
  }

  #img3 img{
    padding-top: 0vh;
    width: 80vw;
  }

  #img3{
    padding-top: 0vh;
  }

  .heading {
    padding: 5px;
  }

  h1 {
    width: 70vw;
    margin: 10px;
  }

  .icons {
    margin: 15vh 0 0 0;
  }
}

@media  (min-width: 810px){
  #img3 img{
    padding-top: 0vh;
    width: 40vw;
  }

  #img3{
    padding-top: 0vh;
  }

  .heading {
    padding: 5px;
  }

  h1 {
    width: 40vw;
    margin: 10px;
  }

  .icons {
    margin: 10vh 0 0 0;
  }
}